<h1>Create an Artist</h1>

<%= form_for @artist  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>

  <%= f.submit %>
<% end %>
