<h1>Create an Artist</h1>

<%= form_for @artist  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />

  <%= f.text_field :artist_name, list: 'artists_autocomplete' %>
  <datalist id="artists_autocomplete">
    <% Artist.all.each do |artist| %>
      <option value="<%= artist.name %>">
    <% end %>
  </datalist>
  <br>

  <%= f.collection_select :genres, Genre.all, :id, :name %>

  <%= f.submit %>
<% end %>
