<h1>Create an Artist</h1>

<%= form_for @artist  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />

  <br>
  <%= f.label :artist_name %>
  <%= f.text_field :artist_name %>
  <br>

  <%= f.submit %>
<% end %>
