<p id="notice"><%= notice %></p>

<h1>Listing Nests</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nests.each do |nest| %>
      <tr>
        <td><%= nest.make %></td>
        <td><%= nest.location %></td>
        <td><%= link_to 'Show', nest %></td>
        <td><%= link_to 'Edit', edit_nest_path(nest) %></td>
        <td><%= link_to 'Destroy', nest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nest', new_nest_path %>
