<h1>Create a Song</h1>
<!--A text input box that sets the song's title.-->
<%= form_for @song  do |s| %>
  <%= s.text_field :title %>
  <br />
  <!--A text input box for the artist.-->
  <%= s.label :artist_name %>
  <%= s.text_field :artist_name %>
  <br />
  <!--A selection box for genre. Users should be able to pick amongst existing genres only.-->
  <%= s.collection_select :genre_id, Genre.all, :id, :name %>
<input name="song[note_contents][]" type="text" id="song_notes_1"/>
<input name="song[note_contents][]" type="text" id="song_notes_2"/>
<input name="song[note_contents][]" type="text" id="song_notes_3"/>

  <%= s.submit %>
<% end %>
