<h1>Create a Song</h1>
<!--A text input box that sets the song's title.-->
<%= form_for @song  do |s| %>
  <%= s.label :song_title %>
  <%= s.text_field :title %>
  <br /><br />
  <!--A text input box for the artist.-->
  <%= s.label :artist_name %>
  <%= s.text_field :artist_name %>
  <br /><br />
  <!--A selection box for genre. Users should be able to pick amongst existing genres only.-->
  <%= s.label :genre_name %>
  <%= s.collection_select :genre_id, Genre.all, :id, :name %>
  <br /><br />
  <!--Several text input boxes to add notes to the song.
These should have the IDs song_notes_1, song_notes_2, and so on for the specs to pass.
(You might need to search around for how to pass an array using strong_params!)-->
  <%= s.label :song_notes %>
  <input name="song[note_contents][]" type="text" id="song_notes_1"/>
  <input name="song[note_contents][]" type="text" id="song_notes_2"/>
  <input name="song[note_contents][]" type="text" id="song_notes_3"/>
  <br /><br />
  <%= s.submit %>
<% end %>
