<h1>Create a Song</h1>

<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <%= f.label :artist_name %>
  <%= f.text_field :artist_name%>
  <br />
  <%= f.label :genre_name %>
  <%= f.text_field :genre_name%>
</br>
  <%= f.label :note_contents %>
  <%= f.text_field :note_contents%>

  <%= f.submit %>
<% end %>


<!-- #A text input box that sets the song's title.
#A text input box for the artist.
#Several text input boxes to add notes to the song. These should have the IDs song_notes_1, song_notes_2, and so on for the specs to pass. (You might need to search around for how to pass an array using strong_params!)
#There are feature tests! -->
