<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%=f.label :artist_name %>
  <%= f.text_field :artist_name, list: "song_artist_name" %>
  <datalist id="song_artist_name">
  <%= Artist.all.each do |artist| %>
  <option value="<%= artist.name %>">
  <% end %></datalist><br>

  <%=f.label :genre_name %> 
  <%= f.collection_check_boxes :genre_id, Genre.all, :name, :name %>
  <%=f.label :notes_ids%>
  <input name="song[notes_ids][]"><br>
  <%=f.label :notes_ids%>
  <input name="song[notes_ids][]"><br>

  

  <%= f.submit %>
<% end %>


