<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :song_artist_name %>
  <%= f.text_field :song_artist_name %>
  <br />

  <%= f.submit %>
<% end %>
