<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br /><br />

  <%= f.label :artist %>
  <%= f.text_field :song_artist_name, list: "artists_autocomplete", id: "song_artist_name" %>
  <datalist id="artists_autocomplete">
    <%= Artist.all.each do |artist| %>
      <option value="<%= artist.name %>">
    <% end %>
  </datalist>
  <br /><br />
  <%= f.label :genre %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  <br /><br />
  <%= f.label :notes %>
  <!-- have a text field that collects the notes into an array
       have a custom method for associating the notes array to
       the song. -->
  <input type="text" name="song[notes][]" id="song_notes_1">
  <input type="text" name="song[notes][]" id="song_notes_2">
  <%= f.submit %>
<% end %>
