<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <%= f.label :artist %>
  <%= f.text_field :artist_name %>
  <br />
  <%= f.label :genre %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  <br/>
  <h5>Add Notes to the Song</h5>
  <input name='song[note_contents][]' id='song_notes_attributes_0_content'>
  <input name='song[note_contents][]' id='song_notes_attributes_1_content'>
  <input name='song[note_contents][]' id='song_notes_attributes_2_content'>
  <br />

  <br/>
  <%= f.submit %>
<% end %>
