<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :artist_name, "Artist"%>
  <%= f.text_field :artist_name, list: "song_artist_name"%>
  <datalist id="song_artist_name">
    <%=Artist.all.each do |artist|%>
      <option value="<%=artist.name%>">
    <%end%>
  </datalist>

  <br />

  <%= f.submit %>
<% end %>
