<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <%= f.label :artist_name %>
  <%= f.text_field :artist_name %><br>
  <%= f.label :genre_name %>
  <% f.text_field :genre_name, list: "genres_autocomplete" %>
  <%Genre.all.each do |genre|%>
  <option value="<%=genre.name%>">
  <%end%>
  <%= f.label f.label :notes %>
  <input name="note_contents[]">
  <input name="note_contents[]">
  <input name="note_contents[]">
  <%= f.submit %>
<% end %>
