
<%= form_for @song do |f| %>
<label for="title">Title: </label>
<%= f.text_field :title %> <br>
<label for="artist_name">Artist Name: </label>
<%= f.text_field :artist_name %> <br>
<label for="genre">Select a genre:</label>
<%= f.collection_select :genre_id, Genre.all, :id, :name %> <br>
<label for="notes">Notes: </label> <br>
<input name='song[note_contents][]' id='song_notes_1'> <br>
<input name='song[note_contents][]' id='song_notes_2'> <br>
<input name='song[note_contents][]' id='song_notes_3'> <br>
<%= f.submit %>
<% end %>
<!-- 
Write app/views/songs/new.html.erb. This form should have:
A text input box that sets the song's title.
A text input box for the artist.
A selection box for genre. Users should be able to pick amongst existing genres only.
Several text input boxes to add notes to the song. These should have the IDs song_notes_1, song_notes_2, and so on for the specs to pass. (You might need to search around for how to pass an array using strong_params!)
There are feature tests! -->