<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.text_field :artist, list: "artists_autocomplete" %>
  <datalist id="artists_autocomplete">
    <%= Artist.all.each do |artist| %>
      <option value="<%= artist.name %>">
    <% end %>
  </datalist>

 <%= f.collection_select :genre, Genre.all, :id, :name %>

  <%= f.submit %>
<% end %>
