<h1>Create a Song</h1>

<%= form_for Song.new do |f| %>
  <%= f.label :title %>
  <%= f.text_area :title %>
  <br/>
  <%= f.label :artist_name %>
  <%= f.text_area :artist_name %>
  <br/>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  <br/>

  <%= f.submit %>
<% end %>
