<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />

  <%= f.label :artist_name %>
  <%= f.text_field :artist_name %>

  <br>

  <%= f.label "Select Genre" %>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, "id", "name") %>

  <br>

  <h4>Notes</h4>

  <%= f.fields_for :notes do |note| %>
    <%= note.label :note %>
    <%= note.text_area :content, rows: 3, cols: 30 %>
    <br/>
  <% end %>

  <br>

  <%= f.submit %>
<% end %>