<h1>Songs#show</h1>

<label>Song Title</label>
<p class="song-title"><%= @song.title %></p>
<p class="song-artist"><%= @song.try(:artist).try(:name) %></p>
<p class="song-genre"><%= @song.try(:genre).try(:name) %></p>
<ul class=song-notes>
<%= @song.try(:notes).try(:each) do |note| %>
  <li ><%= note.content %></li>
  <% end %>
</ul>


