<h1><%= @song.title %></h1>

<p>Artist: <%= @song.artist_name %></p>
<p>Genre: <%= @song.genre.name %></p>
<p>Artist: <%= @song.notes.each do |note| %>
              <%= note.content %>
            <% end %>
</p>