<h1><%= @song.title %></h1>

<p>Artist: <%= @song.artist_name %></p>
<p>Genre:  <%= @song.genre.name %></p>
<p>Notes:  <%= @song.notes.each do |n| %>
              <%= n.content %><br>
           <% end %>
</p>
