<h1>Songs#show</h1>

Title: <%= @song.title %><br>
Artist: <%= @song.artist %><br>
Genre: <%= @song.genre %><br>
Notes: <%= @song_notes_1 %><br>
Notes: <%= @song_notes_2 %><br>
Notes: <%= @song_notes_3 %><br>
