<h1>Song Title: <%= @song.title %> </h1>
Artist name: <%= @song.artist_name %>
<br>
Genre: <%= @song.genre_name %>
<br>
Song Note 1: <%= @song.note_contents[0] %>
<br>
Song Note 2: <%= @song.note_contents[1] %>
<br>
Song Note 3: <%= @song.note_contents[2] %>
