<h1>Songs#show</h1>

<h3>Title: <%= @song.title %></h3>
<h3>Artist ID: <%= @song.artist_id %></h3>
<h3>Artist: <%= @song.artist_name %></h3>
<h3>Genre: <%= @song.genre_name %></h3>
<h3>Notes:<br></h3>
<% @song.note_contents.each do |note_contents| %>
  <%= note_contents %><br>
<% end %>
