<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Tunes</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <h3>
      <%= link_to 'Songs', songs_path %>
      <%= link_to 'New Song', new_song_path %>
    </h3>
    <%= yield %>
  </body>
</html>
