<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Tunes</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
		<%= link_to "Artists", artists_path %> |
		<%= link_to "Songs", songs_path %> |
		<%= link_to "Genres", genres_path %> ||| 
		<%= link_to "NewSong", new_song_path %> |
		<%= link_to "NewArtist", new_artist_path %> |
		<%= link_to "NewGenre", new_genre_path %>
		
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %>
  </body>
</html>
